body{
    background-color: beige;
}
#box1{
    position:relative;

    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
}

#box2{
    position: relative;
    bottom: 0px;

    width: 73vw;
    height: 33vh;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    background-color: mediumvioletred;
}

#box3{
position: sticky;
top: 0;
width: 73vw;
height: 175vh;
border-radius: 10px;
background-color: orangered;
}

#text1{
    position:relative;
    left: 700px;
}